.idea
nbproject
nbproject/private
.vscode/
.vs/
/tmp
/vendor
/logs
/tests
/webroots/AdminLTE-3.1.0
composer.lock

# System / Log files
*.DS_Store
*.log

# Archives
*.zip

# Plugins
/webroots/AdminLTE-3.1.0/plugins/**/*.html
/webroots/AdminLTE-3.1.0/plugins/**/*.less
/webroots/AdminLTE-3.1.0/plugins/**/*.md
/webroots/AdminLTE-3.1.0/plugins/**/*.scss
/webroots/AdminLTE-3.1.0/plugins/**/*.ts
/webroots/AdminLTE-3.1.0/plugins/**/bower.json
/webroots/AdminLTE-3.1.0/plugins/**/package.json
/webroots/AdminLTE-3.1.0/plugins/**/webpack.config.js
/webroots/AdminLTE-3.1.0/plugins/**/demo/
/webroots/AdminLTE-3.1.0/plugins/**/demos/
/webroots/AdminLTE-3.1.0/plugins/**/dev/
/webroots/AdminLTE-3.1.0/plugins/**/example/
/webroots/AdminLTE-3.1.0/plugins/**/examples/
/webroots/AdminLTE-3.1.0/plugins/**/less/
/webroots/AdminLTE-3.1.0/plugins/**/test/
/webroots/AdminLTE-3.1.0/plugins/**/tests/
/webroots/AdminLTE-3.1.0/plugins/daterangepicker/website/
/webroots/AdminLTE-3.1.0/plugins/daterangepicker/drp.png
/webroots/AdminLTE-3.1.0/plugins/daterangepicker/moment.min.js
/webroots/AdminLTE-3.1.0/plugins/daterangepicker/package.js
/webroots/AdminLTE-3.1.0/plugins/daterangepicker/website.css
/webroots/AdminLTE-3.1.0/plugins/daterangepicker/website.js
/webroots/AdminLTE-3.1.0/plugins/jquery-ui/AUTHORS.txt
/webroots/AdminLTE-3.1.0/plugins/jquery-ui/external/jquery/jquery.js
/webroots/AdminLTE-3.1.0/plugins/inputmask/bindings/
/webroots/AdminLTE-3.1.0/plugins/flot/plugins/jquery*.js
/webroots/AdminLTE-3.1.0/plugins/flot/plugins/jquery.flot.*.js
/webroots/AdminLTE-3.1.0/plugins/**/LICENSE.md
/webroots/AdminLTE-3.1.0/plugins/**/LICENSE.txt
/webroots/AdminLTE-3.1.0/plugins/**/license.md
/webroots/AdminLTE-3.1.0/plugins/**/license.txt
/webroots/AdminLTE-3.1.0/plugins/**/LICENSE
/webroots/AdminLTE-3.1.0/plugins/**/license
/webroots/AdminLTE-3.1.0/plugins/**/COPYING

