.box h1 {
    text-align: center;
}

.box h3 {
    text-align: center;
}

.box h2 {
    text-align: center;
}

.box {
    background-color: #F2F5F7;
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: double;
}